doctype html
html
  head
    title= title
    <link rel="stylesheet" href="#{base_url}/stylesheets/style.css">
    //link(rel='stylesheet', href ='{base_url}/stylesheets/style.css')
  body
    block content
    -if(user && showuser)
        #user You are #{user}
    -if(error_message)
        div#error #{error_message}
    -if(success_message)
        div#success #{success_message}


    script(src='#{base_url}/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript').
        var lang =!{JSON.stringify( ui_language )};
    script(type='text/javascript').
        var base_url =!{JSON.stringify( base_url )};
    block scripts