doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    -if(user && showuser)
        #user You are #{user}
    -if(error_message)
        div#error #{error_message}
    -if(success_message)
        div#success #{success_message}


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')
    script(type='text/javascript').
        var username =!{JSON.stringify( user )};
    script(type='text/javascript').
        var lang =!{JSON.stringify( ui_language )};

    block scripts