extends layout

block content
  h1 Tervetuloa kokeilemaan sähköistä puhekoetta på Svenska!
  // Ollaanpa sitä uteliaita. Koodin kommenteista voi löytyä kaikenlaista.
  // Esimerkiksi tervetuliaisviesti oli aiemmmin:
  // h1 Tervetuloa kokeilemaan puhutun ruotsin ylioppilaskokeen pilottia!
  p Tunnukset sinulla pitäisi jo olla. Jos ei ole, niin taitaa jäädä kokeilu lyhyeksi.
  p Ja jos käytössäsi ei ole verrattain uutta Chrome-selainta, tapahtuu kauheita! 
      | #[a(href='https://www.google.com/chrome/') Selaimen voit ladata täältä.]

  // Wrapper
  #wrapper
      #changeLog
          -if (changelog)
              each change in changelog
                h4= change.date
                p= change.msg.fi
                -if (change.fixedlist.fi)
                    ul
                        each fixed in change.fixedlist.fi
                            li= fixed


      // USER LIST
      -if (showlogin) 
          h2 Login
              form#login(action="#{base_url}/login", method="post")
                  input#username(type="text", name="username", placeholder='Username')
                  br
                  input#password(type="password", name="password", placeholder='Password' value="codeme!" readonly)
                  br
                  input(type="submit", value="login")

      form#login1(action="#{base_url}/login", method="post")
          input#username(type="text", name="username", placeholder='Username')
          br
          input#password(type="password", name="password", placeholder='Password')
          br
          input(type="submit", value="Kirjaudu")


      // ADD USER
      -if (adding_user)
          h2 Add User
          #addUser
              fieldset
                  input#inputUserName(type='text', placeholder='Username')
                  input#inputUserEmail(type='text', placeholder='Email')
                  br
                  input#inputUserFullname(type='text', placeholder='Full Name')
                  input#inputUserAge(type='text', placeholder='Age')
                  br
                  input#inputUserLocation(type='text', placeholder='Location')
                  input#inputUserGender(type='text', placeholder='gender')
                  br
                  button#btnAddUser Add User
      // /ADD USER


      // UPLOAD PHOTO
      -if (uploading_photo)
          #uploadPhoto
              fieldset
                  input#inputFileName(type='file', placeholder='Photo file name')
                  br
                  button#btnUploadFile Upload File
  // /WRAPPER

  #bottom Me olemme #[a(href="http://blogs.helsinki.fi/digitala-projekti/") Digitala]. Tulemme ystävinä.<br>Ensin korvaamme opettajat roboteilla. Sen jälkeen oppilaat. Lopuksi itsemme. Kortistossa nähdään!