extends layout

block content
  h1 #[a(href='#{base_url}/') .] / Tehtävähallinta
  p Olet 
      strong= username 
      |  (<i>
      = user.fullname
      | </i>), ja roolisi on 
      strong= user.role 
      -if (user.school)
          |  koulussa 
          strong= user.school
          | . 
      a(href="#{base_url}/logout") Kirjaudu ulos.

  // Wrapper
  #wrapper

      #testDefinition
          h2 Testimääritelmä
          strong Version:
          = test.version
          h3 Tasks
      #taskList
          table
              thead
                  th Id
                  th Order
                  th Help 
                  th Trial_pools
                  th Trial_counts
                  th Random_order
              tbody
              each val, index in test.tasks
                  tr
                    td #[a(href=['#task']+"#{val.task_id}") #{val.task_id}]
                    td= val.task_order
                    td= val.help
                    td 
                        each trialpool in val.trial_pools 
                            =['[ ']
                            each trial in trialpool
                                #[a(href=['#task']+"#{val.task_id}_trial#{trial}") #{trial}] 
                            =[' ] ']
                    td
                        each trialcount in val.trial_counts
                            = trialcount 
                    td= val.random_order

      // TASK_EDITOR
      #taskEditor
          h2 Task/trial
          #infop
              strong Task_id:
              |  <span id='EditTaskId'></span>
              br
              strong Evaluated:
              |  <span id='EditTaskEvaluated'></span>
              br
              strong Controls:
              |  <span id='EditTaskControls'></span>
              br
              strong Trial_id:
              |  <span id='EditTrialId'></span>
              br
              strong Mediatype:
              |  <span id='EditTrialMediaType'></span>
              br
              strong Hypermedia:
              |  <span id='EditTrialHypermedia'></span>
              br
              strong Response_time:
              |  <span id='EditTrialResponseTime'></span>
          #infop
              strong Instructions:
              br
              |  <span id='EditTaskInstructions'></span>
              br
          #infop
              strong Trial:
              br
              |  <span id='EditTrialStimulus'></span>
              #EditTrialNextStim


      // /TASK_EDITOR



      // TASK LIST
      h2 Tasks
      p Tässä näet listan tehtävistä. Painamalla preview/esikatselu-nappia
        | saat ruudun vasempaan laitaan tarkasteltavaksesi tehtävän lähempänä 
        | muotoa, jossa se kokeen tekijälle esittämään.
      p Jotta saat paremman käsityksen testin etenemisestä, tee itsellesi
        | väliaikainen oppilastunnus #[a(href='#{base_url}/users') käyttäjähallinnassa]
        |  ja kirjaudu sillä tekemään testiä. 
      #TaskList



  // /WRAPPER    
block scripts
    -if (user.username)
        script(type='text/javascript').
            var username =!{JSON.stringify( user.username )};
        script(type='text/javascript').
            var userrole =!{JSON.stringify( user.role )};
    script(src='#{base_url}/javascripts/testmanager-local.js')
    script(src='#{base_url}/javascripts/dropmenus.js')
