extends layout

block content
  h1 #[a(href='/') .] / Käyttäjähallinta
  p Olet 
      strong= username 
      |  (<i>
      = user.fullname
      | </i>), ja roolisi on 
      strong= user.role 
      -if (user.school)
          |  koulussa 
          strong= user.school
          | . 
      a(href="logout") Kirjaudu ulos.

  // Wrapper
  #wrapper

      // USER INFO
      #userInfo
          h2 User Info
          #infop
              strong Name:
              |  <span id='userInfoName'></span>
              br
              strong Role:
              |  <span id='userInfoRole'></span>
              br
              strong School:
              |  <span id='userInfoSchool'></span>
              br
              strong Email:
              |  <span id='userInfoEmail'></span>
              br
              strong Phone:
              |  <span id='userInfoPhone'></span>
              br
              strong Tasks:
              |  <span id='userInfoTasks'></span>
              br
              strong Phonetic:
              |  <span id='userInfoPhoneticScore'></span>
              br
              strong Fluency:
              |  <span id='userInfoFluencyScore'></span>

      // /USER INFO



      // USER LIST
      h2 Ylläpitäjät
      #adminList
          table
              thead
                  th Username
                  th Full Name
                  th Role 
                  th School
                  //th Email
                  //th Phone
                  //th Delete?
              tbody

      h2 Opettajat
      #teacherList
          table
              thead
                  th Username
                  th Full Name
                  th Role 
                  th School
                  //th Email
                  //th Phone
                  -if (user.role == 'global-admin')
                      th Delete?
              tbody

      h2 Oppilaat
      #userList
          table
              thead
                  th Username
                  th Password
                  th School
                  th Teacher
                  th Course
                  th A/B
                  th tasks
                  th Phonetics
                  th Fluency
                  th Delete?
              tbody

      // /USER LIST

      -if (user.role == 'global-admin')
          // ADD LOCAL ADMIN
          h2 Add Local Admin
          p Käyttäkää vahvoja salasanoja! Niitä voi generoida esim. #[a(href='https://www.random.org/strings/?num=10&len=10&digits=on&loweralpha=on&unique=on&format=html&rnd=new') random.org]'ssa.
          #addLocalAdmin
              fieldset
                  label Username
                  input#inputAdminUsername(type='text', placeholder='Username')
                  br
                  label Full name:
                  input#inputAdminFullname(type='text', placeholder='Full Name')
                  br
                  label Email:
                  input#inputAdminEmail(type='text', placeholder='Email')
                  br
                  label Phone number:
                  input#inputAdminPhone(type='text', placeholder='Phone Number')
                  br
                  label School:
                  input#inputAdminSchool(type='text', placeholder='School')
                  br
                  label Password:
                  input#inputAdminPassword(type='password', placeholder='Password')
                  br
                  label Password (again):
                  input#inputAdminPassword2(type='password', placeholder='Repeat Password')
                  br		  
                  button#btnAddLocalAdmin Add Local Admin
          // /ADD USER

      -if (user.role == 'local-admin' || user.role == 'global-admin')
          // ADD USER
          h2 Add Teacher
          #addTeacher
              fieldset
                  label Username: 
                  input#inputTeacherUsername(type='text', placeholder='Username')
                  br
                  label Full name:
                  input#inputTeacherFullname(type='text', placeholder='Full Name')
                  br
                  label Email:
                  input#inputTeacherEmail(type='text', placeholder='Email')
                  br
                  label Phone number:
                  input#inputTeacherPhone(type='text', placeholder='Phone Number')
                  br
                  label School:
                  -if (user.role == 'local-admin')
                      input#inputTeacherSchool(type='text', value=user.school, readonly, disabled)
                  -else
                      input#inputTeacherSchool(type='text', placeholder='School')
                  br
                  label Password:
                  input#inputAdminPassword(type='password', placeholder='Password')
                  br
                  label Password (again):
                  input#inputAdminPassword2(type='password', placeholder='Repeat Password')
                  br
                  button#btnAddTeacher Add Teacher
          // /ADD USER

      h2 Add a Student (or maybe a hundred!)
      #addStudent
          fieldset
              label Teacher's username:
              -if (user.role == 'local-admin' || user.role == 'global-admin')
                  input#inputStudentsTeacher(type='text', placeholder='Teacher\'s username')
              -if (user.role == 'teacher')
                  input#inputStudentsTeacher(type='text', value=user.username, readonly, disabled )
              br
              label School
              -if (user.role == 'local-admin' || user.role == 'teacher')
                 input#inputStudentSchool(type='text', value=user.school, readonly, disabled)
              -else
                 input#inputStudentSchool(type='text', placeholder='School')     
              br
              label Current language course:
              select#inputStudentClass(type='text')
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
                  option(value="4") 4
                  option(value="5") 5
                  option(value="6") 6
                  option(value="7") 7
              br
              label Language class:
              select#inputStudentLangGroup(type='text')
                  option(value="A") A
                  option(value="B") B
                  option(value="C") C
                  option(value="Native") Native
              br
              label Mass generation:
              textarea#inputStudentList(type='textarea', rows='6' cols='35', placeholder='List of student\'s names (one each row)')
              br
              button#btnAddStudent Add Student
              #newNameList
      // /ADD USER





  // /WRAPPER    
block scripts
    -if (user.username)
        script(type='text/javascript').
            var username =!{JSON.stringify( user.username )};
        script(type='text/javascript').
            var userrole =!{JSON.stringify( user.role )};
    script(src='/javascripts/users-local.js')
    script(src='/javascripts/dropmenus.js')
